RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^/?(.*) https://%{HTTP_HOST}/$1 [R,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.html [L]

<IfModule mod_headers.c>
    Header append Vary: Accept-Encoding

    <filesMatch ".(ico|css|js|gif|jpeg|jpg|png|woff|ttf|otf|svg|woff2|eot)$">
        Header set Cache-Control "max-age=2628000, public"
    </filesMatch>
</IfModule>

<IfModule mod_deflate.c>
    <filesMatch "\.(js|css|html|svg|woff|woff2|ttf|eot)$">
        SetOutputFilter DEFLATE
    </filesMatch>

   AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css text/javascript application/javascript image/svg+xml

</IfModule>
