// PROXIMA NOVA FONT FACE
@font-face {
    font-family: "Source Sans Pro";
    src: url("/fonts/SourceSansPro-Light.woff2");
    font-weight: 300; }

@font-face {
    font-family: "Source Sans Pro";
    src: url("/fonts/SourceSansPro-Regular.woff2");
    font-weight: 400; }

@font-face {
    font-family: "Source Sans Pro";
    src: url("/fonts/SourceSansPro-Semibold.woff2");
    font-weight: 600; }

@font-face {
    font-family: "Source Sans Pro";
    src: url("/fonts/SourceSansPro-Bold.woff2");
    font-weight: 700; }
