// LAYOUT-SPECIFIC STYLES

// SIDENAV
body.open-sidenav {
    overflow: hidden;
}

// APP CONTAINER + ROW
#app,
#app > .container\:fluid {
    height: 100%;
}

#app > .container\:fluid {
    @media (min-width: 992px) {
        padding-left: $sidenav-width + $root-font-size;
    }

    > .row,
    > .row > [class^="md-"] {
        height: 100%;
    }
}

// MAIN
main {
    padding: 1rem;

    @media (min-width: 992px) {
        // 32px top and bottom,
        // 16px to add 16px (32 in total) to the container inside <main>
        // which already has padding 0 1rem;
        padding: 2rem 1rem;
    }

    > .container\:fluid {
        @media (max-width: 991px) {
            padding: 0;
        }
    }
}

// LAYOUT WIDGETS
.profile-widgets > .widget:last-of-type {
    margin: 1rem 0;

    @media (min-width: 992px) {
        margin: 2rem 0;
    }
}

.info-widgets > .widget:first-of-type {
    margin: 0 0 1rem;

    @media (min-width: 992px) {
        margin: 0 0 2rem;
    }
}

// RESUME
.resume [class^="lg\:"]:last-of-type .widget {
    margin-bottom: 0;
}

.resume > [class^="md\:"] > .row:first-of-type {
    margin-top: 1rem;

    @media (min-width: 992px) {
        margin-top: 2rem;
    }
}
