// VARIABLES
//
// TYPOGRAPHY
$root-font-size:            16px;
$font-stack:                -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family:               "Proxima Nova", $font-stack;
$font-family-code:          Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;


// COLORS
$gray:                      #f2f2f7;

$primary:                   #414648;

$blue:                      #198ce9;
$blue-hover:                #0e60b1;

$blue-gray:                 #a7b6bD;
$text-color-sidenav:        $blue-gray;

$dark-blue-gray:            #2d3844;

$rgba-black:                rgba(0,0,0,.87);

$facebook:                  #3b5998;
$twitter:                   #1da1f2;
$linkedin:                  #0077b5;

$box-shadow:                0 1px 2px rgba(0,0,0,.1);

$border-radius:             .25rem;
$border-color:              #e8e8e8;


// SIDENAV
$sidenav-width:             256px;
$sidenav-link-color:        #65747b;
$sidenav-active-link-color: $blue-gray;
