// VARIABLES
//
// TYPOGRAPHY
$root-font-size:            16px;
$font-stack:                -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family:               "Proxima Nova", $font-stack;
$font-family-code:          Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;


// COLORS
$gray:                      #eee;

$primary:                   #455A64;

$blue:                      #2196f3;
$blue-hover:                #1976d2;

$blue-gray:                 #B0BEC5;
$text-color-sidenav:        $blue-gray;

$dark-blue-gray:            #263238;

$rgba-black:                rgba(0,0,0,.87);

$facebook:                  #3b5998;
$twitter:                   #1da1f2;
$linkedin:                  #0077b5;

$box-shadow:                0 1px 3px 0 rgba(0,0,0,.21);


// SIDENAV
$sidenav-width:             256px;
$sidenav-link-color:        #546E7A;
$sidenav-active-link-color: $blue-gray;
