// BUTTONS
//
// BUTTON RESET
%button {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: .5rem 1.5625rem;
    outline: none;
    background-color: transparent;
    user-select: none;
    font: 1rem $font-family;
    font-weight: 500;
    line-height: 1;
    border: 1px solid transparent;
    border-radius: $border-radius;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

// STANDARD BUTTON
button, .button {
    @extend %button;

    &:hover,
    &:focus,
    &:active,
    &:hover:active {
        outline: none;
        text-decoration: none;
    }

    i.mdi,
    svg {
        margin-right: 5px;
    }

    svg {
        position: relative;
        top: 2px;
        height: 1rem;
        width: 1rem;
    }

    &.icon-button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .5rem;
        width: 40px;
        height: 40px;
        border-radius: 50%;

        i.mdi {
            margin: 0;
            font-size: 1.5rem;
            vertical-align: middle;
        }

        &--small {
            width: 35px;
            height: 35px;

            i.mdi {
                margin: 0;
                font-size: 1.125rem;
                vertical-align: middle;
            }

            img {
                width: 1.125rem;
                height: 1.125rem;
            }
        }
    }
}

// RAISED
%raised {
    border: none;
    background-color: rgba(154,154,154,.2);
    position: relative;
    height: 36px;
    min-width: 4rem;
    padding: 0 1rem;
    color: #000;
    letter-spacing: 0;
    line-height: 36px;
    text-transform: uppercase;
    overflow: hidden;
    vertical-align: middle;
    will-change: box-shadow;
    box-shadow: $box-shadow;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1), background-color .2s cubic-bezier(.4,0,.2,1);

    &:hover,
    &:focus {
        background-color: rgba(154,154,154,.4);
        color: #000;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.21);
    }
}

.button {
    &--raised {
        @extend %raised;
    }
}


// COLORED BUTTONS MIXIN
@mixin button-color($color, $background-color) {
    @extend %button;
    @extend %raised;
    color: $color;
    background-color: $background-color;

    &:hover,
    &:focus {
        color: $color;
        background-color: darken($background-color, 10%);
    }
}


// COLORED BUTTONS
.button {
    &--raised {
        &.button-primary {
            @include button-color(#fff, $primary);
        }
    }
}

// NAV TOGGLE
.nav-toggle {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: .5rem;
    font-size: 1.5rem;

    @media (min-width: 992px) {
        display: none;
    }
}
