// WIDGETS
.widget {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 400;
    overflow: hidden;
    position: relative;
    background: #fff;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    z-index: 1;

    .widget__header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 48px;
        min-height: 48px;
        padding: 0 1rem;
        border-bottom: 1px solid rgba(0,0,0,.12);

        i.mdi,
        svg {
            margin-right: .5rem;
        }

        svg {
            position: relative;
            top: -2px;
            width: 1.375rem;
            height: 1.375rem;
            opacity: .87;
        }

        img {
            position: relative;
            top: 5px;
            width: 1.5rem;
            height: 1.5rem;
            opacity: 0.87;
        }

        .title {
            display: flex;
            align-items: center;
            margin: 0;
            font-size: 1.25rem;
            font-weight: 400;
        }
    }

    .widget__body {
        padding: 1rem;

        h4.sub-title {
            margin-bottom: .625rem;
            font-weight: 500;
            color: $rgba-black;
        }

        .column {
            display: flex;
            flex-direction: row;
            border-bottom: 1px solid #ddd;
            margin: 0 -1rem;

            .column-item {
                display: flex;
                align-items: center;
                padding: .625rem 1rem;
                color: rgba(0,0,0,.65);
                vertical-align: middle;

                &--left {
                    flex: 2;
                    max-width: 31%;
                    font-weight: 500;
                }

                &--right {
                    flex: 5;
                }
            }
        }
    }

    .widget__bio {
        p {
            color: rgba(0,0,0,.65);
        }

        .bio {
            p:last-of-type {
                margin: 0;
            }
        }
    }

    .widget__information {
        padding: 0 1rem;
        color: rgba(0,0,0,.65);
    }

    .widget__toolbox {
        color: rgba(0,0,0,.65);

        p {
            margin: 0 0 1.05rem;
        }
    }

    .contact-information {
        margin: 0 0 -1rem;

        .column {
            &:last-of-type {
                border-bottom: 0;

                .column-item {
                    &--right {
                        padding: 0;
                    }
                }
            }

            .list {
                &--social {
                    background-color: transparent;
                    margin-bottom: 0;

                    li {
                        display: inline-block;
                        flex: none;
                        margin: 0;

                        @media (min-width: 992px) {
                            margin: 0 .3125rem;

                            &:first-of-type {
                                margin: 0 .3125rem 0 0;
                            }

                            &:last-of-type {
                                margin: 0 0 0 .3125rem;
                            }
                        }

                        a {
                            min-width: auto;
                            color: $rgba-black;
                        }
                    }
                }
            }
        }
    }
}

.widget > .widget__body > .progressbar-container {
    margin-bottom: 1.25rem;
}
