// BASE STYLES
*,*:before,*:after {
    box-sizing: border-box;
}

* {
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}

@-ms-viewport {
    width: device-width;
}

html {
    width: 100%;
    height: 100%;
    font-size: $root-font-size;
    box-sizing: inherit;
}

body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding-top: 4.4375rem;
    background-color: $gray;
    font-family: $font-family;
    font-size: 1rem;
    font-weight: 400;
    color: $rgba-black;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
}

h1, h2, h3,
h4, h5, h6 {
    margin-top: 0;
}

a {
    color: $blue;
    text-decoration: none;
    transition: color .2s ease-in-out;

    &:hover,
    &:focus,
    &:active,
    &:hover:active {
        color: $blue-hover;
        text-decoration: underline;
    }
}

p {
    margin: 0 0 .625rem;
}

.code {
    font-family: $font-family-code;
    font-size: .75rem;
    color: $blue;
    display: inline-block;
    padding: .1875rem .375rem;
    background-color: #eee;
    border-radius: 3px;
}

.list {
    margin: 0 0 .625rem;
    padding: 0;
    list-style-type: none;

    &--inline {
        li {
            display: inline-block;
            margin: 0 .3125rem;

            &:first-of-type {
                margin: 0 .3125rem 0 0;
            }

            &:last-of-type {
                margin: 0 0 0 .3125rem;
            }
        }
    }
}

.app-layout {
    display: flex;
    flex-direction: column;
    width: 100%;

    .header {
        width: 100%;
    }

    .nav-toggle {
        svg {
            top: initial;
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}
