body.open-sidenav {
  overflow: hidden;
}

#app,
#app > .container-fluid {
  height: 100%;
}

#app > .container-fluid {
  @media (min-width: 992px) {
    padding-left: $sidenav-width + $root-font-size;
  }

  > .row,
  > .row > [class^="md-"] {
    height: 100%;
  }
}

main {
  padding: 1rem;
  @media (min-width: 992px) {
    // 32px top and bottom,
    // 16px to add 16px (32 in total) to the container inside <main>
    // which already has padding 0 1rem;
    padding: 2rem 1rem;
  }

  > .container-fluid {
    @media (max-width: 991px) {
      padding: 0;
    }
  }
}

.profile-widgets > .widget:last-of-type {
  margin: 1rem 0;

  @media (min-width: 992px) {
    margin: 2rem 0;
  }
}

.demo {
  padding: 1rem 1rem 0 1rem !important;
}

.demo-content .row {
  margin: 0 -.5rem;
}

.demo-content .md-6,
.demo-content .lg-4 {
  padding: 0 .5rem 1rem;
}

.resume [class^="lg-"]:last-of-type .widget {
  margin-bottom: 0;
}
