// PROFILE
.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;

    @media (min-width: 992px) {
        padding: 2rem;
    }

    .profile-image {
        width: 125px;

        img {
            width: 100%;
            height: auto;
            border-radius: 50%;
            border: 2px solid #ddd;
        }
    }

    h4 {
        margin: .625rem 0 0;
        font-size: 1.125rem;
        font-weight: 500;
        color: $rgba-black;
    }

    h6 {
        margin: 0;
        font-size: .8125rem;
        font-weight: 400;
        color: rgba(0,0,0,.54);
    }

    .icon-group {
        margin: 1rem 0 0;
        width: 100%;
        font-size: 1.5rem;

        ul {
            display: flex;
            align-items: center;
            max-width: 200px;
            margin: 0 auto;
            padding: 0;
            list-style-type: none;

            li {
                height: 40px;
                width: 40px;

                a {
                    text-decoration: none;
                    text-align: center;
                    border-radius: 50%;

                    &:hover,
                    &:focus,
                    &:active,
                    &:visited,
                    &:hover:active {
                        text-decoration: none;
                        outline: 0;
                    }

                    &.github,
                    &.codepen {
                        color: #000;
                    }

                    &.facebook {
                        color: $facebook;
                    }

                    &.twitter {
                        color: $twitter;
                    }

                    &.linkedin {
                        color: $linkedin;
                    }

                    i.mdi {
                        display: block;
                        line-height: 22px;
                    }
                }
            }
        }
    }
}
