// PROGRESSBAR
.progressbar-container {
  .progressbar-values {
    display: flex;
    justify-content: flex-start;
    font-size: .875rem;
    padding-bottom: .25rem;

    span:last-of-type {
      margin-left: auto;
    }
  }
}

.progressbar {
  position: relative;
  width: 100%;
  height: 13px;
  background-color: rgba(158,158,158,.3);
  border-radius: 8px;

  .progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 13px;
    background-color: rgba(38,50,56,.9);
    border-radius: 8px;

    .thumb {
      position: absolute;
      top: -3px;
      right: 0;
      width: 20px;
      height: 20px;
      background-color: #607D8B;
      border-radius: 50%;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    }
  }
}

.widget > .widget__body > .progressbar-container {
  margin-bottom: 1.25rem;
}
