// PROJECT
.projects {
  .container-fluid {
    padding: 0;
  }

  [class^="md-"] {
    margin-bottom: 1rem;

    &:last-of-type {
      margin-bottom: 0;
    }

    @media (min-width: 992px) {
      margin-bottom: 2rem;
    }

    &:nth-last-child(-n+2) {
      @media (min-width: 992px) {
        margin-bottom: 0;
      }
    }

    .project {
      position: relative;
      margin-bottom: 1rem;

      @media (min-width: 992px) {
        margin-bottom: 0;
      }

      .project-icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        height: 40px;

        img {
          border-radius: 50%;
          vertical-align: top;
          width: 40px;
          height: 40px;
          max-width: 100%;
          border: 0;
        }
      }

      .project-content {
        padding-left: 50px;

        p {
          margin: 0;
          font-size: .875rem;
          font-weight: 400;
          color: rgba(0,0,0,.65);
          letter-spacing: .010em;
          line-height: 1.6em;

          a {
            font-size: .875rem;
            font-weight: 500;
            color: $rgba-black;
            text-decoration: none;

            &:hover,
            &:focus {
              text-decoration: underline;
            }
          }
        }


        .project-title {
          font-size: 1.125rem;
          font-weight: 400;
          line-height: 1.2em;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin-bottom: 2px;

          + a {
            display: block;
            margin: 0 0 5px;
            font-size: .8125rem;
            font-weight: 400;
            color: rgba(0,0,0,.54);
            letter-spacing: .010em;
            line-height: 1.2em;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-decoration: none;

            &:hover,
            &:focus {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
