// PROJECTS
.project {
    @extend %card;
    padding: 1rem;

    .project-header {
        display: flex;
        height: 50px;
        margin-bottom: 2rem;

        .project-icon {
            img {
                width: 50px;
                height: 50px;
                margin-right: .625rem;
                border: 1px solid #ddd;
                border-radius: 50%;
            }

        }

        .project-title {
            display: flex;
            flex-direction: column;

            h4 {
                margin: 0;
                font-size: 1.875rem;
                font-weight: 500;
                color: rgba(0,0,0,.87);
            }

            .sub-title {
                margin-top: auto;
                margin-bottom: .5rem;
                font-size: .8125rem;
                color: rgba(0,0,0,.54);

                @media (min-width: 768px) {
                    margin-bottom: 0;
                }
            }
        }

        .project-link {
            display: flex;
            align-items: flex-end;

            @media (min-width: 768px) {
                margin-left: auto;
            }

            .sub-link {
                font-size: .8125rem;
                color: rgba(0,0,0,.54);
                transition: color .2s ease-in-out;

                &:hover,
                &:focus,
                &:active,
                &:hover:active {
                    color: rgba(0,0,0,.75);
                    text-decoration: underline;
                }
            }
        }
    }

    .project-body {

        p {
            margin: 0 0 2rem;
            font-size: .875rem;
            color: rgba(0,0,0,.65);
        }

        img {
            width: 100%;
            height: auto;
            margin: 0;
            border: 1px solid #ddd;
            border-radius: 2px;
        }
    }
}
