// PROJECTS
.project {
    @extend %card;
    padding: 1rem;

    .project-header {
        position: relative;
        margin-bottom: 1rem;

        @media (min-width: 992px) {
            height: 50px;
        }

        .project-icon {
            position: absolute;
            top: 0;
            left: 0;

            img {
                width: 50px;
                height: 50px;
                margin-right: .625rem;
                border: 2px solid #ddd;
                border-radius: 50%;
            }
        }

        .project-title {
            margin-left: 3.75rem;

            h4 {
                margin: 0;
                font-size: 1.25rem;
                font-weight: 500;
                color: rgba(0,0,0,.87);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                @media (min-width: 992px) {
                    font-size: 1.875rem;
                }
            }
        }

        .project-link {
            display: flex;
            flex-direction: column;
            margin-left: 3.75rem;

            @media (min-width: 992px) {
                flex-direction: row;
            }

            .sub-title {
                font-size: .8125rem;
                color: rgba(0,0,0,.54);
                margin-bottom: .1rem;

                @media (min-width: 992px) {
                    margin-bottom: 0;
                }
            }

            .sub-link {
                font-size: .8125rem;
                transition: color .2s ease-in-out;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                @media (min-width: 992px) {
                    margin-left: auto;
                    max-width: 32%;
                }

                &:hover,
                &:focus,
                &:active,
                &:hover:active {
                    text-decoration: none;
                }
            }
        }
    }

    .project-body {
        padding-top: 1rem;
        border-top: 1px solid #ddd;

        p {
            margin: 0 0 1rem;
            font-size: .9375rem;
            color: rgba(0,0,0,.65);

            &:last-of-type {
                margin: 0;
            }
        }
    }
}
