// ROBOTO DRAFT FONT FACE
@font-face {
    font-family: "Roboto Draft";
    src: url("../fonts/RobotoDraft-Thin.ttf");
    font-weight: 200; }

@font-face {
    font-family: "Roboto Draft";
    src: url("../fonts/RobotoDraft-Light.ttf");
    font-weight: 300; }

@font-face {
    font-family: "Roboto Draft";
    src: url("../fonts/RobotoDraft-Regular.ttf");
    font-weight: 400; }

@font-face {
    font-family: "Roboto Draft";
    src: url("../fonts/RobotoDraft-Medium.ttf");
    font-weight: 500; }

@font-face {
    font-family: "Roboto Draft";
    src: url("../fonts/RobotoDraft-Bold.ttf");
    font-weight: 700; }

@font-face {
    font-family: "Roboto Draft";
    src: url("../fonts/RobotoDraft-Black.ttf");
    font-weight: 900; }
