// TABS
.tabs {
  > ul {
    background-color: $tabs-background;
    position: relative;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;

    > li {
      > a {
        min-width: 72px;
        padding: 1rem .75rem;
        display: block;
        position: relative;
        cursor: pointer;
        border: 0;
        background: none;
        transition: all .4s cubic-bezier(.25,.8,.25,1);
        font-family: inherit;
        font-size: .875rem;
        font-weight: 500;
        text-transform: uppercase;
        text-decoration: none;
        color: rgba(255, 255, 255, .54);
        cursor: pointer;
        text-align: center;
        user-select: none;

        svg {
          position: relative;
          top: 2px;
          width: 1rem;
          height: 1rem;
          fill: $dark-blue-gray;
          margin-right: .625rem;
        }
      }

      &.active a,
      &:active a {
        color: rgba(255, 255, 255, .87);
        text-decoration: none;

        svg {
          fill: $dark-blue-gray;
        }
      }
    }

    .tabs-indicator {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      background-color: $tabs-indicator;

      &.to-right {
        transition: all .4s cubic-bezier(.25,.8,.25,1), left .3s cubic-bezier(.35,0,.25,1), right .15s cubic-bezier(.35,0,.25,1);
      }
      &.to-left {
        transition: all .4s cubic-bezier(.25,.8,.25,1), right .3s cubic-bezier(.35,0,.25,1), left .15s cubic-bezier(.35,0,.25,1);
      }
    }
  }
  &.fixed {
    li {
      flex: 1;
      text-align: center;
    }
  }
  &.align-center > ul {
    justify-content: center;
  }
  &.align-right > ul {
    justify-content: flex-end;
  }
  &.transparent {
    > ul {
      background-color: transparent;
      border-bottom: 1px solid rgba(0, 0, 0, .12);

      li {
        a {
          color: rgba(0, 0, 0, .54);

          svg {
            fill: rgba(0,0,0,.54);
          }
        }
        &.active a,
        &:active a {
          color: $tabs-background;

          svg {
            fill: $dark-blue-gray;
          }
        }
      }
      .tabs-indicator {
        background-color: $tabs-background;
      }
    }
  }
  &.transition-off * {
    transition: none!important
  }
}
.tabs-content {
  width: 100%;
  height: 0;
  position: relative;
  overflow: hidden;
}
.tabs-wrapper {
  width: 9999px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(0);
  transition: transform .4s cubic-bezier(.25,.8,.25,1);
}
.tab {
  position: absolute;
  padding: 1rem;
}



// EXTRA
.tab > .tab-content {
  margin-bottom: 2rem;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.tabs-widget {
  margin-bottom: 0;
}
