// TIMELINE
.timeline {
  list-style: none;
  margin: 0 0 0 .625rem;
  padding: 0;

  li {
    position: relative;
    margin: 0;
    border-left: 2px solid rgba(0,0,0,.12);

    &:before {
      content: '';
      width: 16px;
      height: 16px;
      position: absolute;
      left: -9px;
      top: 0px;
      border-radius: 50%;
      background-color: #fff;
      padding: .25rem;
      border: 4px solid #546E7A;
      box-shadow: 0 1px 3px 0 rgba(0,0,0,.21);
    }

    @media (min-width: 768px) {
      padding: 0 0 2.5rem 2.5rem;
    }

    .title {
      font-size: 1.25rem;
      font-weight: 500;
      margin: 0;
    }

    &:first-child {
      .title {
        margin-top: .625rem;
      }
    }

    &:last-of-type {
      border: 0;

      @media (min-width: 768px) {
        padding: 0 0 0 2.5rem;
      }

      &:before {
        left: -7px;
      }
    }

    .time {
      display: block;
      padding: .375rem 0;
      font-size: .75rem;
      font-weight: 300;
      color: rgba(0,0,0,.54);
    }

    p {
      margin: 0 0 .625rem;
      font-size: .875rem;
      color: rgba(0,0,0,.65);
    }
  }
}
