// TOOLBAR
.toolbar {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  min-height: 65px;
  padding: 0 1rem;
  background-color: #fff;
  font-size: 1.25rem;
  color: $rgba-black;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.21);
}
