// VARIABLES
//
// TYPOGRAPHY
$root-font-size: 16px;
$font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;


// COLORS
$gray: #eee;

$blue-gray: #B0BEC5;
$text-color-sidenav: $blue-gray;

$dark-blue-gray: #263238;

$rgba-black: rgba(0,0,0,.87);


// SIDENAV
$sidenav-width: 256px;
