// WIDGETS
.widget {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 400;
  overflow: hidden;
  position: relative;
  background: #fff;
  border-radius: 2px;
  box-shadow: $box-shadow;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  z-index: 1;

  .widget__body {
    padding: 16px;
  }
}
