// WIDGETS
.widget {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 400;
  overflow: hidden;
  position: relative;
  background: #fff;
  border-radius: 2px;
  box-shadow: $box-shadow;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  z-index: 1;

  .widget__header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    height: 48px;
    min-height: 48px;
    padding: 0 1rem;
    border-bottom: 1px solid rgba(0,0,0,.12);

    .title {
      margin: 0;
      font-size: 1.25rem;
      font-weight: 400;
    }
  }

  .widget__body {
    padding: 1rem;
  }
}
